<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="shortcut icon" href="<?php echo base_url().'static/image/bitbug_favicon (5).ico';?>" type="image/x-icon" /> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>欢迎使用</title>
	<script type="text/javascript" src="<?php echo base_url();?>static/js/bgwebsite/change_index.js"></script>
	<script type="text/javascript" src="<?php echo base_url();?>static/js/artDialog/artDialog.js?skin=default"></script>
	<script type="text/javascript" src="<?php echo base_url();?>static/js/artDialog/plugins/iframeTools.js"></script>
	
	<style type="text/css">
	html{
	overflow-x: hidden; 
	overflow-y: hidden; }#apDiv1,#obj1 {
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
		height:100%;
		z-index:1;
	}
	#set{position:absolute;z-index:10;left:26px;bottom:26px;}/*按钮样式*/
	object{border:0px solid silver;width:100%;height:100%;}/*网页样式*/
	</style>
	<link rel="stylesheet" href="<?php echo base_url();?>static/css/path_menu/path_set.css" type="text/css"> 
	<script language="javascript">
	  //退出登录
		  function login_out(){
			if(confirm("是否确定退出系统")){
			  parent.window.location="<?php echo site_url("welcome/login_out");?>";
			}
		  }
	  // 嵌入网址
		function chg()
		{
			if (localStorage.page)//localstorage只存字符
			{
				document.getElementById("apDiv1").innerHTML='<iframe id="obj1" src="'+localStorage.page+'" ></iframe>';
				document.getElementById("apDiv1").onmouseover=disp();
				//document.getElementById("apDiv1").innerHTML='<object id="obj1" type="text/html" data="'+localStorage.page+'" ></object>';
			}
			else
			{
				document.getElementById("apDiv1").innerHTML='<iframe id="obj1" src="default/default.html" ></iframe>';
			}
		}
	</script>
	<script src="<?php echo base_url();?>static/js/path_menu/prefixfree.min.js"></script>
</head>
<body onload="chg();checknt();">
	<!-- 通知 -->
	<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="<?php echo base_url();?>static/js/noty/jquery.noty.js"></script>
	<script type="text/javascript" src="<?php echo base_url();?>static/js/noty/layouts/topCenter.js"></script>
	<script type="text/javascript" src="<?php echo base_url();?>static/js/noty/themes/default.js"></script>
	<!-- 容器 -->
	<div id="apDiv1"></div>
	<!-- 按钮 -->
	<div id="set" >
	  <div class="flyout-wrap">
		<a class="flyout-btn" href="#" title="菜单"><span>菜单</span></a>
		<ul class="flyout flyout-init">
		  <li id="user" onclick="
			<?php
			if(!$uid)
			{echo "art.dialog.open('";
		  	echo base_url();
		  	echo "index.php/welcome/login_iframe', {title: '登录'});"     ;}
			else{echo "login_out();";}
			?>
		  "><a href="#"><span>用户</span></a></li>
		  <li onclick="ts()"><a href="#"><span>功能</span></a></li>
		  <?php
		  
		  $allow_admin = $this->session->userdata('allow_admin');
		  if($allow_admin)
		  	echo "<li><a href='http://optic.sinaapp.com/admin.php/admin/login/show_login'><span>通知</span></a></li>";
		  else echo "<li onclick='ts()'><a href='#'><span>通知</span></a></li>";
		  
		  ?>
		  
		  <li onclick="chs()"><a href="#"><span>设置</span></a></li>
		  <!-- <li><a href="#"><span>Item</span></a></li> -->
		  <!-- <li><a href="#"><span>Item</span></a></li> -->
		</ul><!-- .flyout -->
	  </div><!-- .flyout-wrap -->
	</div> 
	<script type="text/javascript" src="<?php echo base_url();?>static/js/path_menu/index.js"></script>
	
</body>
</html>
