@CHARSET "UTF-8";
/*
	后台分页
*/
.pg{
	float:right
}
/* .pg a {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    border: 1px solid #C2D5E3;
    color: #333333;
    display: inline;
    float: left;
    height: 20px;
    margin-left: 4px;
    overflow: hidden;
    padding: 3 8px;
    text-decoration: none;
}
 */
.pg a {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    border: 1px solid #C2D5E3;
    color: #333333;
    display: inline;
  
    height: 30px;
    margin-left: 4px;
    overflow: hidden;
    padding: 5 9px;
	
    text-decoration: none;
	
}
.pg a.current{
	background-color: #E5EDF2;
}